.app{
	background-size: cover;
	width: 100%;
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
/*	background: url('../img/fondo.png');*/
	
}

.row{
	margin:0;
	padding: 0;
}

h2{
	padding-top: 250px;
	padding-bottom: 30px;
	text-align: center;
	color: #03A2B8;
}

body{
	background-image: url('../img/790x1250.jpg');
}

select, input{
	height: 50px !important;
}

.btn-buscar{
	width: 100%;
	margin-bottom: 60px;
	background-color: #03A2B8;
	color: #fff;
	padding: 10px 0;
}

.mb-30{
	margin-bottom: 30px;
}

.fs-23{
	font-size: 23px;
}
.fs-28{
	font-size: 28px;
}

.color-txt{
	color: #03A2B8;
}

.pt-7{
	padding-top: 7px;
}